@media screen and (max-width: 767px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        order: 1; /* Cambia el orden del logo */
    }

    .navbar {
        order: 2; /* Cambia el orden del navbar */
        margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
    }

    .text {
        flex-direction: column;
        text-align: center;
    }

    .left p {
        max-width: 100%;
        font-weight: bold;
    }

    .right img {
        position: relative;
        flex-direction: column;
        text-align: center;
        margin-top: 45px;
        height: 300px;
        margin-left: -35px; /* ajusta este valor según lo necesites */
    }
    
}

/* Estilos para tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo img {
        width: 70px;
    }

    .text {
        flex-direction: column;
        text-align: center;
    }

    .left p {
        max-width: 100%;
        font-weight: bold;
    }

    .right img {
        position: relative;
        flex-direction: column;
        text-align: center;
        margin-top: 45px;
        height: 300px;
        margin-left: -35px; /* ajusta este valor según lo necesites */
    }
}

/* Estilos para computadoras */
@media screen and (min-width: 1024px) {
    header {
        padding: 20px 100px;
    }

    .navbar li {
        margin-left: 40px;
    }
}