@media screen and (max-width: 767px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        order: 1; /* Cambia el orden del logo */
    }

    .navbar {
        order: 2; /* Cambia el orden del navbar */
        margin-left: -30px; /* Ajusta el margen izquierdo según sea necesario */
    }

    .text {
        flex-direction: column;
        text-align: center;
    }

    .left p {
        font-size: 25px;
        max-width: 100%;
        font-weight: bold;
    }

    .right img {
        max-width: 300px;
        height: auto; /* Mantiene la proporción de la imagen */
    }
    
}

/* Estilos para tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo img {
        width: 70px;
    }

    .text {
        flex-direction: column;
        text-align: center;
    }

    .left p {
        max-width: 100%;
        font-weight: bold;
    }

    .right img {
        max-width: 350px;
        height: 350px;
        margin-left: -10px; /* ajusta este valor según lo necesites */
    }
}
